header {
    background-color: #454d6b;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    text-align: center;
    width: 400px;
    padding: 45px;
    margin: 100px auto;
    background-color: rgba(3, 12, 139, 0.226);
    border: 2px black solid;
    background-color: #454d6b;
    z-index: 1;
    position: relative;
    max-width: 1000px;
    border-radius: 15px;
}

textarea {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #000000;
}

.button{
    background-color: #9e0000;
}