/* header {
    background-color: rgb(60, 214, 21);
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

button {
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 100px;
    box-shadow: white;
    text-decoration: none;
    color: white;
    margin-bottom: 6px;
    padding: 8px;

}



.container {
    text-align: center;
    width: 400px;
    padding: 45px;
    margin: 100px auto;
    background-color: rgba(3, 12, 139, 0.226);
    border: 2px black solid;
    background-color: rgba(71, 73, 71, 0.671);
    z-index: 1;
    position: relative;
    max-width: 1000px;
    border-radius: 15px;
}
 */

 body {
    padding: 0;
    margin: 0;
    background-color: #454d6b;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.container{
    text-align: center;
    width: 400px;
    padding: 30px;
    margin: 100px auto;
    background-color: rgba(19, 19, 19, 0.3);
    z-index: 1;
    position: relative;
    max-width: 1000px;
    top: 50%;
}

.card-header {
    padding-bottom: 20px;
    opacity: 0.8;
    color: #fff;
 background-color: #9e0000;

}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    margin-top: -17px;
    margin-left: -5px;

}

a{
    color: black;
}

