

 body {
    padding: 0;
    margin: 0;
    background-color: #454d6b;

}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 18vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.container{
    text-align: center;
    width: 400px;
    padding: 7px;
    margin: 100px auto;
    background-color: rgba(19, 19, 19, 0.3);
    z-index: 1;
    position: relative;
    max-width: 1000px;
    top: 40%;
    border: 2px black solid;
    border-radius: 20px;
}

.card-header {
    padding-bottom: 20px;
    opacity: 0.8;
    color: #fff;
 background-color: #9e0000;
 

}

.card-header::after {
    content: "";
    width: 70px;
    height: 1px;
    display: block;
    margin-top: -17px;
    margin-left: -5px;

}

a{
    color: black;
}

