header {
    background-color: #454d6b;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.button {
    background-color: #9e0000;
    padding-bottom: 20px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.671) 0 8px 12px;
    box-sizing: border-box;
    color: black;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 90px;
    padding: 8px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
}


.buttonpublicar {
    background-color: #9e0000;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.671) 0 8px 12px;
    box-sizing: border-box;
    color: black;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 90px;
    padding: 8px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 80%;
    transform: translate(-50%, -50%);
}

.saudacao {
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: 100px auto;
    z-index: 1;
    position: relative;
    max-width: 10000px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    top: 20px;
}

.noticiaspubli {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWSJXlBHuuq5LZwgQJbfSw5EfpG5hIov_sIw&s);
    text-align: center;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    color: white;
}

.noticiaspubli h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
}

.container {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.8rem;
    display: flex;
}

.box {
    background-color: aqua;
    color: black;
    text-align: center;
    width: 14.7rem;
    height: 10rem;
    padding: 1.8rem;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    margin-left: 20px;
    line-break: anywhere;
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.like {
    font-size: 1.2rem;
    margin-top: 5px;
}

.dislike {
    font-size: 1.2rem;
    margin-top: 5px;
}

a {
    color: black;
}

/* ///////////////////////////////// */


.card-header {
    padding-bottom: 20px;
    opacity: 0.8;
    color: #fff;
    background-color: #9e0000;
}