header {
    background-color: #1A3636;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.menu {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

.menubtn {
    background-color: #1A3636;
    color: black;
    border: none;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
}

.menubtn:hover {
    background-color: #1A3636;
}

.dropdown {
    position: relative;
    display: inline-block;
    top: -100%;
    left: -45%;
}

.dropdown-child {
    display: none;
    background-color: #1A3636;
    min-width: 120px;
}

.dropdown-child a {
    color: #000000;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-child {
    display: block;
}

.saudacao {
    background-color: #677D6A;
    text-align: center;
    width: 500px;
    padding: 10px;
    margin: 100px auto;
    z-index: 1;
    position: relative;
    max-width: 10000px;
    border: 2px rgb(0, 0, 0) solid;
    box-shadow:  #40534C 10px 10px;
    border-radius: 20px;
    top: 35px;
}

.noticiaspubli {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWSJXlBHuuq5LZwgQJbfSw5EfpG5hIov_sIw&s);
    text-align: center;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    color: white;
}

.noticiaspubli h1 {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-size: 50px;
}

.container {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 0.8rem;
    display: flex;

}

.box {
    background-color: #677D6A;
    color: black;
    text-align: center;
    width: 14.7rem;
    height: 10rem;
    padding: 1.8rem;
    border: 2px rgb(0, 0, 0) solid;
    background-color: #1A3636;
    border-radius: 20px;
    margin-left: 20px;
    line-break: anywhere;
    max-width: 30ch;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.item {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.buttons {
    margin-top: 10px;
}

.botao {
    margin-right: 10px;
}

a {
    color: black;
}

.card-header {
    padding-bottom: 20px;
    opacity: 0.8;
    color: #fff;
    background-color: #9e0000;
}

@media only screen and (max-device-width: 700px) {
    header {
        background-color: #1A3636;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 0;
        height: 120px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    header h1 {
        top: 10%;
    }

    .menu {
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }
    
    .menubtn {
        background-color: #1A3636;
        color: black;
        border: none;
        cursor: pointer;
        padding: 10px;
        margin-top: 20px;
    }
    
    .menubtn:hover {
        background-color: #1A3636;
    }
    
    .dropdown {
        position: relative;
        display: inline-block;
        top: -75%;
        left: -40%;
    }
    
    .dropdown-child {
        display: none;
        background-color: #1A3636;
        min-width: 120px;
    }
    
    .dropdown-child a {
        color: #000000;
        padding: 20px;
        text-decoration: none;
        display: block;
    }
    
    .dropdown:hover .dropdown-child {
        display: block;
    }
    

    .saudacao {
        background-color: #454d6b;
        text-align: center;
        width: 320px;
        padding: 10px;
        margin: 100px auto;
        z-index: 1;
        position: relative;
        max-width: 10000px;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
    }

    .noticiaspubli {
        background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWSJXlBHuuq5LZwgQJbfSw5EfpG5hIov_sIw&s);
        text-align: center;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
        color: white;
    }

    .noticiaspubli h1 {
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: black;
        font-size: 50px;
    }

    .container {
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 0.8rem;
        display: flex;
    }

    .box {
        background-color: rgb(118, 194, 103);
        color: black;
        text-align: center;
        width: 230px;
        height: 10rem;
        padding: 3rem;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
        margin-left: 20px;
        line-break: anywhere;
        max-width: 30ch;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 20px;
    }

    .item {
        font-family: Arial, sans-serif;
        margin: 20px;
    }

    .buttons {
        margin-top: 10px;
    }

    .botao {
        margin-right: 10px;
    }

    a {
        color: black;
    }

    .card-header {
        padding-bottom: 20px;
        opacity: 0.8;
        color: #fff;
        background-color: #9e0000;
    }
}