header {
    background-color: #454d6b;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;

}

.container {
    background-color: #454d6b;
    text-align: center;
    width: 400px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    top: 120px;
}

.container_comentario {
    background-color: #454d6b;
    text-align: center;
    width: 400px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    align-items: center;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
    top: 60px;
}

.container_areacomentarios {
    background-color: #454d6b;
    text-align: center;
    width: 500px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
}

.box_comentarios {
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
}

.button {
    background-color: #9e0000;
    border: 2px black solid;
    border-radius: 20px;
    box-shadow: rgba(3, 87, 76, 0.671) 0 8px 12px;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 90px;
    padding: 8px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
}

textarea {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #000000;
}