header {
    background-color: #1A3636;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 0;
    height: 100px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.container {
    background-color: #677D6A;
    text-align: center;
    width: 400px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: #1A3636  10px 10px;
    border-radius: 20px;
    top: 120px;
}

img {
    width: 200px;
}

.container_comentario {
    background-color: #677D6A;
    text-align: center;
    width: 400px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    align-items: center;
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: #1A3636  10px 10px;
    border-radius: 20px;
    top: 60px;
}

.container_areacomentarios {
    background-color: #677D6A;
    text-align: center;
    width: 500px;
    padding: 60px;
    margin: 100px auto;
    border-radius: 10px;
    max-width: 500px;
    position: relative;
    line-break: anywhere;
    display: flexbox;
    z-index: 1;
    max-width: 1000px;
    border: 2px rgb(0, 0, 0) solid;
    box-shadow: #1A3636 10px 10px;
    border-radius: 20px;
}

.box_comentarios {
    border: 2px rgb(0, 0, 0) solid;
    border-radius: 20px;
}

.button {
    background-color: #1A3636;
    border: 2px black solid;
    border-radius: 20px;
    box-sizing: border-box;
    font-family: Quicksand, sans-serif;
    font-size: 15px;
    justify-content: center;
    line-height: 1em;
    max-width: 100%;
    min-width: 90px;
    padding: 8px;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    cursor: pointer;
    margin-bottom: 15px;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    color: #000000;
}

textarea {
    padding: 30px;
    border-radius: 5px;
    border: 2px solid #000000;
}

@media only screen and (max-device-width: 700px) {
    header {
        background-color: #1A3636;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 0;
        height: 100px;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;

    }

    .container {
        background-color: #677D6A;
        text-align: center;
        width: 200px;
        padding: 60px;
        margin: 100px auto;
        border-radius: 10px;
        max-width: 500px;
        position: relative;
        line-break: anywhere;
        display: flexbox;
        z-index: 1;
        max-width: 1000px;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
        top: 120px;
    }

    .container_comentario {
        background-color: #677D6A;
        text-align: center;
        width: 200px;
        padding: 60px;
        margin: 100px auto;
        border-radius: 10px;
        max-width: 500px;
        position: relative;
        line-break: anywhere;
        display: flexbox;
        z-index: 1;
        max-width: 1000px;
        align-items: center;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
        top: 60px;
        
    }

    .container_areacomentarios {
        background-color: #677D6A;
        text-align: center;
        width: 200px;
        padding: 60px;
        margin: 100px auto;
        border-radius: 10px;
        max-width: 350px;
        position: relative;
        line-break: anywhere;
        display: flexbox;
        z-index: 1;
        max-width: 1000px;
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
    }

    .box_comentarios {
        border: 2px rgb(0, 0, 0) solid;
        border-radius: 20px;
    }

    .button {
        background-color: #1A3636;
        border: 2px black solid;
        border-radius: 20px;
        box-sizing: border-box;
        font-family: Quicksand, sans-serif;
        font-size: 15px;
        justify-content: center;
        line-height: 1em;
        max-width: 100%;
        min-width: 90px;
        padding: 8px;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        white-space: nowrap;
        cursor: pointer;
        margin-bottom: 15px;
        display: inline-block;
        position: absolute;
        transform: translate(-50%, -50%);
        color: #000000;
    }

    textarea {
        padding: 0px;
        border-radius: 5px;
        border: 2px solid #000000;
    }
}